.tools {
  &__item{
    &:not(:last-child){
      margin-bottom: 50px;
    }
  }
  &__name {
    @include Montserrat;
    @include fontBoldBlack;
    font-size: 24px;
    color: $default;
  }
  &__label {
    color: $white;
    font-size: 16px;
    background: $bgToolsLabel;
    border-radius: 2px;
    margin-bottom: 6px;
    height: 34px;
    padding: 5px 18px;
    display: inline-block;
    line-height: 23px;
    &:not(:last-child){
      margin-right: 6px;
    }
  }
}