$white:#fff;
$white-dark: #F0F3F6;
$gray: #C9CFD8;
$gray-light: #E3E9F2;
$blue: #2690F1;

$black: #171723;
$black-light: #1D1F2E;

$default: $blue;
$labelColor: $gray;
$titleColor: $black-light;
$textColor: $black-light;
$inputColor: $black-light;
$serviceTabColor: $gray-light;
$borderDropColor: $gray;
$borderColor: $gray;
$h2Color: $gray;
$contactColor:$white-dark;
$footerLink: $white-dark;
$bgFooter:$black-light;

$bgBanner:$black-light;
$bannerColor:$white-dark;

$bgToolsLabel: $black-light;

.color-white{
  color: $white;
}

.color-black{
  color: $black-light;
}