$iconsScroll:  image-url('icons-scroll.svg');
$iconsBenefits:  image-url('icons-benefits.svg');
$iconsScroll:  image-url('icons-scroll.svg');

$iconsTechWeb:  image-url('icons-tech-web.svg');
$iconsTechMob:  image-url('icons-tech-mob.svg');
$iconsTechCloud:  image-url('icons-tech-cloud.svg');
$iconsTechDigital:  image-url('icons-tech-digital.svg');
$iconsTechDesktop:  image-url('icons-tech-desktop.svg');
$iconsTechTest:  image-url('icons-tech-test.svg');

$iconsEcommert:  image-url('icons-ecommers.svg');
$iconsIndEcommert:  image-url('icons-ind-ec.svg');
$iconsAutomotive:  image-url('icons-automotive.svg');
$iconsIndAutomotive:  image-url('icons-ind-at.svg');
$iconsAutomation:  image-url('icons-automation.svg');
$iconsIndAutomation:  image-url('icons-ind-atm.svg');
$iconsEducation:  image-url('icons-education.svg');
$iconsIndEducation:  image-url('icons-ind-ed.svg');
$iconsTravel:  image-url('icons-travel.svg');
$iconsIndTravel:  image-url('icons-ind-tr.svg');

$iconsQuotes:  image-url('icons-quotes.svg');
$iconsAtach:  image-url('icons-atach.svg');
$iconsCheck:  image-url('icons-check.svg');
$iconsArrow:  image-url('icons-arrow.svg');

$iconsMenu:  image-url('icons-menu.svg');
$iconsArrowLeft:  image-url('icons-arrow-slider-left.svg');
$iconsArrowRight:  image-url('icons-arrow-slider-right.svg');